/* components/running-text.module.css */
.running-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background: #475569; */
  border-radius: 0.5rem;
}

.running-text span {
  font-size: 12px; 
  display: inline-block;
  animation: running-text 30s linear infinite;
}

@keyframes running-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
